.header{
    padding: 10px;
    display: flex;
    justify-content: center;

  }
  .flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-box {
    border: 3px solid hsl(350, 45%, 43%);
   background-color:#7e1932;
   ;
    border-radius: 30px;
    height: 50px;
    width: 60%;
  }
  
  .content-box {
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 300px;
  }
  