
img{
  margin-top: 20px;
  border: 1px solid rgba(189, 189, 189, 0);
  border-radius: 10px;
  width:200px;
}

.nome{
  font-size: 20px;
  color: #fff;
}
.apps{
  align-items: center;
  background-color: #fff;
  border:0px;
  margin-right: 0px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0px;
  background-color:  hsl(350, 50%, 58%);
  
}


.Icones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  
}
.apps:hover{
  background-color: #7e1932;
  
}
.Geral{
  background-color: rgb(243, 243, 243);
}