img{
  margin-top: 20px;
  border: 1px solid rgba(226, 224, 224, 0);
  border-radius: 20px;
  width:200px;
}

.nome{
  font-size: 15px;
}
.apps{
  align-items: center;
  background-color: #fff;
  border:0px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 4px;
  
}


.Icones{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}
